.button{
  background-color: #6278F7;
  color: white;

  border: none;
  border-radius: 10px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;

  padding: 24px 32px;
  margin: 32px 0;

  cursor: pointer;
}

.button:hover{
  color: #95FFD4;
}